  body 	{
  background: url("../images/bg_9.png") no-repeat center fixed;
 /* background-color: #cccccb;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0px; 
  margin: 0px;
}

#main{
  width: 960px;
  margin: 0 100px;
  position: relative;
  z-index: 20;
}

/******START TOP LOGO******/

#title h1 {
  width: 418px;
  height: 53px;
  text-indent: -9001em;
  background: url('../images/caff_logo_white.png') no-repeat;
  margin-bottom: 0;
  margin-top: 50px;
}

#title h2 {
  color: white;
  margin: 0px 0px 10px 0px;  
}


/******END TOP LOGO******/

/******START HEADLINE******/


section {
  color: white;
  font-family: Helvetica;
}

.time {
  color: #fff; /* text color */
  font-family: "ITC Avant Garde Gothic Std Bk";
  margin-bottom: 40px;
}

#headline {
  margin-top: 25px;
  margin-bottom: 70px;
}



#headline { /*Speakers*/
  font-size: 30px;
  margin: 5px 0px 0px 0px;
  padding-top: 30px;
  margin-top: 40px;
}

#headline2 { /*Company Name*/
  font-size: 15px;
  margin: 0px;
  line-height: 1.5em;
}

/******END HEADLINE******/





h3  {
  margin: 0px;
}

section p   {
  color: white
}

div p {
  font-family: "ITC Avant Garde Gothic Std Book";
  font-size: 1.7em;
  width: 400px;
  margin: 0px;  
  padding-top: 20px;
}
div p a {
  color: white;
}

.register {
  margin-top: 50px;
}

/******END HERO CONTENT******/


/******BEGIN FOOTER******/

a {
  color: white;
}

footer ul {
  width: 100%;
  height: 75px;
  padding-left: 100px;
  /*background-color: #1b374f;  layer fill content */
}

footer li {
  list-style: none; 
  font-family: Helvetica;
  font-size: 14px;
  color: white;
  vertical-align: middle;
  display: inline-block;
  margin-top: 90px;
}

footer li li  {
  margin-top: 20px;
  vertical-align: middle;
}

.sponsor2 {
  margin-left: 15px;
}

/******END FOOTER******/

#stripe {
  position: fixed;
  top: 0;
  right: 0;
  background: url('../images/vertical_stripe.png') no-repeat;
  z-index: -1;
  height: 100%;
  width: 450px;
}


@media (max-width: 600px) {
	#stripe {
	  position: absolute;
	  right: auto;
	  width: 100%;
	  left: 300px;
	}
}

.addthisevent-drop            {z-index:999998;color:white;text-decoration:none;text-decoration:none;margin: 25px 0px 20px 40px;}
.addthisevent-drop:hover        {color:#555;font-size:14px;text-decoration:none;}
.addthisevent-selected          {}
.addthisevent_dropdown          {width:200px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:4px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
.addthisevent_dropdown span       {width:175px;display:block;line-height:110%;background:#fff;text-decoration:none;font-size:12px;color:#6d84b4;padding:8px 10px 9px 15px;}
.addthisevent_dropdown span:hover     {background:#f4f4f4;color:#6d84b4;text-decoration:none;font-size:12px;}
.addthisevent span            {display:none!important;}
.addthisevent-drop ._url,.addthisevent-drop ._start,.addthisevent-drop ._end,.addthisevent-drop ._summary,.addthisevent-drop ._description,.addthisevent-drop ._location,.addthisevent-drop ._organizer,.addthisevent-drop ._organizer_email,.addthisevent-drop ._facebook_event,.addthisevent-drop ._all_day_event {display:none!important;}
.addthisevent_dropdown .copyx       {width:200px;height:21px;display:block;position:relative;cursor:default;}
.addthisevent_dropdown .brx       {width:180px;height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;top:9px;}
.addthisevent_dropdown .frs       {position:absolute;top:5px;cursor:pointer;right:10px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:9px;color:#cacaca;}
.addthisevent_dropdown .frs:hover     {color:#6d84b4;}
.addthisevent               {visibility:hidden;}